* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
}

.main {
    display: flex;
    border-top: 2px solid #000;
    height: calc(100vh - 105px);
    justify-content: space-between;
}

.main .logo,
.main .form {
    width: calc(50% - 2.5px);
}

.main .logo {
    border-right: 2px solid #000;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(to bottom, #bd910c99, #bd910c);
    text-shadow: 1px 1px 0 #000;
}

.main .form {
    border-left: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .form form {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.main .form form label {
    margin-top: 10px;
}

.main .form form input,
.main .form form textarea,
.main .form form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.main .form form textarea {
    resize: none;
    height: 6em;
}

.main .form form button {
    background-color: #000;
    color: #fff;
}